$Heading: (
    family: (roc-grotesk-extrawide, sans-serif),
    weight: 700,
    style: normal,
);

$SubHeading: (family: (roc-grotesk-wide, sans-serif),
    weight: 600,
    style: normal,
);

$Paragraph: (family: (roc-grotesk, sans-serif),
    weight: 400,
    style: normal,
);

h1 {
    font-family: map-get($Heading, family);
    font-weight: map-get($Heading, weight);

}

h3 {
    font-family: map-get($SubHeading, family);
    font-weight: map-get($SubHeading, weight);
    margin-bottom: 1em;

}

p {
    font-family: map-get($Paragraph, family);
    font-weight: map-get($Paragraph, weight);
    font-size: 1.25em;
}